body{
  text-align:center;
  background-image:  url(pexels.jpeg);
}
.title{
  font-size: 100px;
  padding:0px;
  font-family: Great Vibes, cursive;
  color: red;
}
.introduction{
  font-size: 150%;
  font-family: Roboto;
  padding: 0 0 50px 0;
  color: yellow;
}
.entry-img{
  height: 400px;
  width: 90%;
}
.intro img{
  width: 200px;
  border-radius: 20%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.About{
  font-size: 250%;
  font-family: Roboto;
  padding: 0 0 50px 0;
  color: yellow;
}
.Skills img{
  width: 200px;
  height: 200px;
  border-radius: 20%;
}
.Skills{
  font-size: 150%;
  font-family: Roboto;
  padding: 0 0 50px 0;
  color: yellow;
  text-align: center;
}
.Skills_2 img{
  width: 200px;
  height: 200px;
  border-radius: 20%;
}
.Skills_2{
  font-size: 150%;
  font-family: Roboto;
  padding: 0 0 50px 0;
  color: yellow;
  text-align: center;
}
.Con{
  font-size: 150%;
  font-family: Roboto;
  padding: 0 0 50px 0;
  color: yellow;
  text-align: center;
}
.Contacts{
  font-size: 150%;
  font-family: Roboto;
  padding: 0 0 50px 0;
  color: yellow;
  text-align: center;
}
.mail{
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.facebook{
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.instagram{
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
